.header .brand-logo{
	padding-left: 20px;
	font-weight: 100;
}

.header ul{
	padding-right: 20px;
}

.jumbotron {
	background-image: url('../assets/images/bg.png');
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	padding-top: 80px;
	min-height: 720px;
}

.jumbotron .desc h1{
	font-weight: 100;
	line-height: 1.6;
	font-size: 3.85rem;
	color: #ffffff;
	padding-top: 100px;
}

.jumbotron .desc h2{
	font-weight: 100;
	font-size: 2.85rem;
	color: #ffffff;
}

.jumbotron .img-desc{
	max-width: 150%;
	margin-top: 35px;
}

.text-white{
	color: #FFFFFF !important;
}

.text-black{
	color: #676767 !important;
}

.pad-section {
	padding: 20px 0;
}

.pad-top-section{
	padding-top: 20px;
}

/* .features{
	margin-top: -20%;
} */

.features h2{
	font-weight: 100; 
}

.plans-prices{
	background-image: url('../assets/images/bg.png');
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	min-height: 100px;
}